<div style="background-color: #fff8e7;">
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb " style="background-color: #fff8e7;">
                    <li class="breadcrumb-item"><a [routerLink]="['/inicio']" href="#">Inicio</a></li>                     
                    <li class="breadcrumb-item active" aria-current="page">Editar Leyenda</li>

                </ol>
            </nav>
        </div>
    </div>
    <div *ngIf="this.service.isAuthenticated()== true " class="container" style="background-color: #fff8e7;">
        <legend>Formulario inscripción Funcionarios</legend>
        <hr style="color: black">
        <div class="container">

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Nombres
                        </label>
                        <input [disabled]="this.deshabilitadorCampos != true" type="text" [(ngModel)]="this.fun.nombres"
                            class="form-control" id="nombres" placeholder="Ingrese Apellidos del funcionario">
                    </div>
                    <div class="col">
                        <label>Apellidos</label>
                        <input [disabled]="this.deshabilitadorCampos != true" [(ngModel)]="fun.apellidos" type="text"
                            class="form-control" id="apellidos" placeholder="Ingrese Apellidos del funcionario">
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label for="exampleFormControlSelect1">Cargo</label>
                        <div class="form-group">
                            <select [disabled]="this.deshabilitadorCampos != true" [(ngModel)]="fun.cargo"
                                class="form-control" id="exampleFormControlSelect1">
                                <option value="" selected disabled>Seleccione Cargo </option>
                                <option value="Administrativo">Administrativo</option>
                                <option value="Kinesiologo">Kinesiologo</option>
                                <option value="Fotografo">Fotografo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Rut</label>
                        <input [disabled]="this.deshabilitadorCampos != true" [(ngModel)]="fun.rut" type="text"
                            class="form-control" id="apellidos" placeholder="Ingrese Apellidos del funcionario">
                    </div>
                </div>
            </div>
            <div *ngIf="false" class="form-group">
                <div class="row">
                    <div class="col-6" *ngIf="activadorFoto">
                        <label for="exampleFormControlSelect1">Foto</label><br>
                        <input disabled="true" (change)="seleccionarFotos($event)" type="file" id="">
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <!--editor de texto leyenda-->
    <div  *ngIf="this.service.isAuthenticated()== true " style="background-color: #fff8e7;">
        <!--Editor de texto-->
        <div class="container">
            <div class="row">
                <div class="col-6">

                    <form [formGroup]="editorForm">
                        <div class="form-group">
                            <label for="editor">
                                <h3>Editor</h3>
                            </label>
                            <!--(ngModelChange)="maxLenght($event)"-->
                            <div style="background-color: white;">
                                <quill-editor [styles]="{height: '300px' }" [(ngModel)]="textoQuill"
                                    (onContentChanged)="textChanged($event)" [modules]='config'
                                    formControlName="editor"></quill-editor>
                                <span
                                    *ngIf="editorForm.get('editor').value != null">{{this.MAX_LENGTH - editorForm.get('editor').value.length}}</span>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-warning mt-5" (click)="onSubmit()">Visualizar</button>
                </div>

                <div class="col-6">
                    <label for="">
                        <h3>Preview</h3>
                    </label><br>
                    <p class="my-5" [innerHTML]="editorContent"></p>

                </div>
            </div>
            <div class="row">                
                <div class="col-10" align="right">
                    <button class="btn btn-danger mt-5" (click)="cancelar()">Cancelar</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary mt-5" (click)="save()">Actualizar</button>
                </div>
                <div class="col-2"></div>
            </div>
        </div>


        <br>
    </div>

    <!--no hay autenticacion-->

    <div *ngIf="this.service.isAuthenticated()== false " class="container ">
        <div align="center">
            <img src="../../../../../../assets/img/404.jpg" alt="">
        </div>
    </div>
</div>