
<div style="background-color: #fff8e7;">  
  <br><br>
  <div class="container">
    <div class="row">  
      <div class="col-1"></div>    
      <div class="col-9">
        <div style="background-color: #fff8e7;">
          <div class="center" style="background-color: #fff8e7;">
            <carousel>
              <ng-container *ngFor="let item of fotosCarousel" >
                <slide *ngIf="item.estado==true" style="width: 500px;">
                  <img  src="http://localhost:8080/uploads/{{item.file}}" alt="first slide" style="display: block; width: 100%; height: 500px;">
                </slide>
              </ng-container>
            </carousel>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-primary" [routerLink]="[ '/inicio/editarCarousel']">Editar Fotos</button>
      </div>
    </div>
  </div>
  <br>
</div>