<div style="background-color: #fff8e7;">
    <div>
        <br>
        <i>
            <hr>
            <h4 style="text-align: center;">Quiénes Somos</h4>
            <p style="padding-left: 15px; text-align:center;">Escuela dedicada a la enseñanza de la danza por medio de
                una
                metodología consciente, respetuosa del cuerpo y las personas. <br>Iniciando nuestros trabajos desde el
                año
                2017.</p>
            <hr>
            <h4 style="text-align: center;">Equipo</h4>
        </i>
        <div *ngIf="this.service.isAuthenticated()== true && this.service.hasRole('ROLE_ADMIN')" class="a2" align="right">
            <button [routerLink]="[ '/inicio/gf']" type="button" class="btn btn-outline-primary">Gestionar
                Funcionarios</button>
        </div>
        <hr>

        <br>
    </div>

    <div class="row" style="padding-left: 20px;"> 
        <div *ngFor="let Funcionarios of this.FuncionarioList " style="padding-left: 15px;">
            <div class="card" style="width: 18rem;">
                <img class=" img-fluid" src="http://localhost:8080/uploads/{{Funcionarios.foto}}"  style="widows: 290px; height: 290px;" alt="card image">
                <div class="card-body">
                    <h5 class="card-title"><b>{{Funcionarios.nombres | titlecase}}</b></h5>
                    <h5 class="card-title"> <b>{{Funcionarios.apellidos | titlecase}}</b></h5>
                    <br>                
                    <i><h6 class="card-text"><b>Funcionario de Viva Danza</b></h6></i>
                    <br>
                    <p><i>"{{Funcionarios.leyenda}}"</i></p>
                </div>
            </div>
        </div>
    </div>
</div>