<div style="background-color: #fff8e7;">    
    <div *ngIf="this.service.isAuthenticated()== true " class="container" style="background-color: #fff8e7;">
        <legend>Formulario inscripción Funcionarios</legend>
        <hr style="color: black">
        <div class="container">

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Nombres
                        </label>
                        <input [disabled]="this.deshabilitadorCampos != true" type="text"
                            [(ngModel)]="this.fun.nombres" class="form-control" id="nombres"
                            placeholder="Ingrese Apellidos del funcionario">
                    </div>
                    <div class="col">
                        <label>Apellidos</label>
                        <input [disabled]="this.deshabilitadorCampos != true" [(ngModel)]="fun.apellidos" type="text"
                            class="form-control" id="apellidos" placeholder="Ingrese Apellidos del funcionario">
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label for="exampleFormControlSelect1">Cargo</label>
                        <div class="form-group">
                            <select [disabled]="this.deshabilitadorCampos != true" [(ngModel)]="fun.cargo"
                                class="form-control" id="exampleFormControlSelect1">
                                <option value="" selected disabled>Seleccione Cargo </option>
                                <option value="Administrativo">Administrativo</option>
                                <option value="Kinesiologo">Kinesiologo</option>
                                <option value="Fotografo">Fotografo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Rut</label>
                        <input [disabled]="this.deshabilitadorCampos != true" [(ngModel)]="fun.rut" type="text"
                            class="form-control" id="apellidos" placeholder="Ingrese RUT del funcionario">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6" *ngIf="activadorFoto">
                        <label for="exampleFormControlSelect1">Foto</label><br>
                        <input (change)="seleccionarFotos($event)" type="file" id="" multiple>
                    </div>
                </div>
            </div>
            <br>

            <div class="form-group row">
                <div class="col">
                    <button (click)="cancelar()" class="btn btn-danger">
                        Cancelar </button>
                </div>
                <div class="col">
                    <button *ngIf="editarIsOn == false" type="submit" (click)='save()' class="btn btn-primary">Guardar</button>
                    <button *ngIf="editarIsOn == true" type="submit" (click)='update()' class="btn btn-primary">Actualizar</button>
                </div>
                <br>
            </div>

        </div>
    </div>

    <div  *ngIf="this.service.isAuthenticated()== false " class="container ">
        <div align="center">
            <img src="../../../../../../assets/img/404.jpg" alt="">
        </div>
    </div>    
</div>