<div style="background-color: #fff8e7;">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb " style="background-color: #fff8e7;">
          <li class="breadcrumb-item"><a [routerLink]="['/inicio']" href="#">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Contactanos</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="continer">
    <div class="row">
      <div class="col-10" style="padding-left: 80px;">
        <i>
          <h3 style="padding-left: 20px;">Contactanos</h3>
        </i>
      </div>
      <div *ngIf="this.service.isAuthenticated() && (this.service.hasRole('ROLE_ADMIN'))" class="col-2" >
        <button class="btn btn-primary mt-5" [routerLink]="[ '/inicio/edCon' ]">Editar</button>
      </div>
    </div>
  </div>
 

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div style="padding-left: 40px;">
        <p class="my-5" [innerHTML]="editorContent"></p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <br>
  <!--Contactanos form email-->
  <div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="name">
                          Nombre Completo:</label>
                        <input class="form-control" type="text" placeholder="Ingrese su nombre completo"
                          [(ngModel)]="mail.name">
                        <br>
                        <label for="email">
                          Correo de Contacto:</label>
                        <input class="form-control" type="email" placeholder="Ingrese su correo"
                          [(ngModel)]="mail.mail">
                        <br>
                        <label for="subject">
                          Asunto:</label>
                        <input class="form-control" type="text" placeholder="Ingrese Asunto" [(ngModel)]="mail.subject">
                        <br>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="name">
                          Mensaje</label>
                        <textarea class="form-control" style="width: 350px; height: 230px;" type="text"
                          placeholder="Mensaje" [(ngModel)]="mail.body"></textarea>
                      </div>
                    </div>
                    <div class="col-6">
                      <button (click)="sendMail()" class="btn btn-primary pull-right" id="btnContactUs">
                        Enviar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>

  </div>
</div>