<div *ngIf="this.service.isAuthenticated()== true " class="jumbotron">
    <div class="wrapper fadeInDown ">
        <div id="formContent">
              
<hr>
             
            <div class="fadeIn first">
                <img src="../assets/img/logo.jpeg" style="width: 90px; padding-top:10px ;padding-bottom: 10px;"
                    id="icon" alt="User Icon" /> <br><i><b><label for="" style="color: black;">Cambiar
                            Contraseña</label></b></i>
                <hr>
            </div>

              
            <div align="center" >
                <i><b><label for="" style="color: black;">Nueva Contraseña</label></b></i>
            </div>
            <div> 
                <input [(ngModel)]="cambiopass.nueva"  type="password" id="password" class="fadeIn third" name="login" placeholder="password"  >
                <input type="submit" class="fadeIn fourth" value="Guardar" (click)="cambiarPass()">
            </div>
            <hr>
        </div>
    </div>
</div>

<div *ngIf="this.service.isAuthenticated()== false " class="container ">
    <div align="center">
        <img src="../../../../../../assets/img/404.jpg" alt="">
    </div>
</div>