/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/*html{
    min-height: 100%;
    position: relative;
}

body{
    margin-bottom: 60px;
}*/

html, 
body {
    width: 100%;
    height: 100%;
}